<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".constants.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/happy"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatzBoost"
        tools:targetApi="31">
        <activity
            android:name=".testing.views.VideoSplitterTestActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SplitVideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ShowSplitVideoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.VideoSplitterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ChatDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DeletedMessageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FakeStoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MakeStoryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FakeProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MakeProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.EmotionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CaptionListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CaptionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TextToEmojiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.StatusSaverActivity"
            android:exported="false" />
        <activity
            android:name=".ui.QrScannerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.QrGeneratorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.WhatsWebActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DirectActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.RepeaterActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".whatsappsticker.StickerPackListActivity"
            android:label="@string/title_activity_sticker_packs_list" /> <!-- android:theme="@style/AppTheme" /> -->
        <activity
            android:name=".whatsappsticker.StickerPackDetailsActivity"
            android:parentActivityName=".whatsappsticker.StickerPackListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".whatsappsticker.StickerPackListActivity" />
        </activity>
        <activity
            android:name=".whatsappsticker.StickerPackInfoActivity"
            android:label="@string/title_activity_sticker_pack_info"
            android:parentActivityName=".whatsappsticker.StickerPackDetailsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".whatsappsticker.StickerPackDetailsActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.moutamid.whatzboost.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <service
            android:name=".services.NotificationListener"
            android:exported="false"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <provider
            android:name=".whatsappsticker.StickerContentProvider"
            android:authorities="com.moutamid.whatzboost.stickercontentprovider"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.moutamid.whatzboost.sticker.READ" />
    </application>

</manifest>